* {
  padding: 0;
}

body {
  background: rgb(150, 188, 245);
  font-family: "Montserrat";
  font-weight: 500;
  padding: 0;
  margin: 0;
}

main  {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section {
  display: flex;
  
}

#answers, #options {
  color: #555;
}

#options {
  margin-top: 20px;
}

#options section {
  flex-direction: column;
}

#options  .withFill {
  border: solid 3px rgb(152, 150, 245);
}

.hold {
  border: solid 5px #ccc;
}

.empty, .fill, .withFill {
  display: flex;
  justify-content: center;
  align-items: center;
  font: 500;
  font-size: 20px;
  height: 70px;
  width: 70px;
  margin: 10px;
  border: solid 3px rgb(152, 150, 245);
  background: white;
}

.withFill > .fill {
  /* background-image: url('https://source.unsplash.com/random/150x150'); */
  display: flex;
  flex: 5;
  border: none;
  margin: 0;
  justify-content: center;
  align-items: center;
  font: 500;
  background: none;
  font-size: 20px;
  height: 70px;
  width: 70px;
  cursor: pointer;
}

.withFill {
  border-color: rgb(100, 186, 218);
}

.hovered {
  background: #f4f4f4;
  border-style: dashed;
}

.invisible {
  display: none;
}

h1 {
  font-size: 50px;
  margin: 0;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  font-weight: 700;
}

p {
  font-size: 20px;
}

.correct {
  border-color: rgb(89, 196, 96);
}
.wrong {
  border-color: rgb(174, 76, 76);
}

#validar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 40px;
  
  font-weight: 700;

  color: white;
  background-color: rgb(137, 116, 241);
  border: rgb(152, 150, 245) 2px solid;
  border-radius: 5px;
  cursor: pointer;

  transition: background 0.2s;
}

#validar:hover {
  background-color: rgb(141, 140, 241);

}

#button {
  width: calc(95px*13);
  display: flex;
  justify-content: end;
}

img {
  height: 300px;
  margin: 0 30px;
}

/* #botao {
  position: absolute;
  background-color: rgb(141, 140, 241);
  border: none;
  color: white;
  font-family: "Montserrat";
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
} */